<div id="header">
    <h1 class="heading"><a href="/">iConnect</a></h1>
    <% if(locals.user){ %>
        <div class="header-part">
            <h3><a href="/users/profile"><%= user.name %> </a> </h3>
            <h3><a href="/users/sign-out">Sign Out</a></h3>
        </div>
        <% }else{ %>
            <div class="header-part">
                <h3><a href="/users/sign-in">Sign In</a></h3>
                <h3><a href="/users/sign-up">Sign Up</a></h3>
            </div>
    <% } %> 
</div>

<!-- <% if(locals.user){ %> -->
    <!-- <ul>
        <li>
            <h1><a href="/users/profile"><%= user.name %> </a> </h1>
        </li>
        <li>
            <a href="/users/sign-out">Sign Out</a>
        </li>
    </ul> -->
    <!-- <% }else{ %> -->
        <!-- <ul>
            <li>
                <a href="/users/sign-in">Sign In</a>
            </li>
            <li>
                <a href="/users/sign-up">Sign Up</a>
            </li>
        </ul>     -->
<!-- <% } %>  -->