<% if(token){ %> 
      <form action="/users/sign-in/forget-password/<%= token.userId._id %>/<%= token.token %>" method="post">
        <input type="password" placeholder="Enter password" name="password">
        <input type="password" placeholder="Confirm password" name="confirm_password">
        <input type="submit">
      </form>
<% } else { %> 
    <form action="/users/sign-in/forget-password-email" method="post">
        <input type="email" placeholder="Enter Email" name="email">
        <input type="submit">
    </form>
<% } %> 