<link rel="stylesheet" href="/css/user_sign_in.css">

<div class="log-in-container">
    <div class="log-in">
        <h1 class="heading">Log In</h1>
        <form action="/users/create-session" method="POST">
            <input type="email" name="email" placeholder="Enter Email" required>
            <input type="password" name="password" placeholder="Enter Password" required>
            <button>Log In</button>
            <!-- <input type="submit" value="Sign In"> -->
        </form>
    </div>
</div>

