#feed-container{
    width: 100%;
    display: flex;

    #section-1-posts{
        width: 70%;
        padding-left: 1rem;
    }

    #section-2-friends{
        width: 20%;
        padding-left: 1rem;
    }
}
